<template name="Heading">
    {{#each profile}}
        <div class="billboard">
            <div class="billboard-text">
                <h1>57th Anniversary</h1>
                <h4>Homemade Quality You Can Taste!</h4>
            </div>
            <!-- <div id="slideshow">
                <div>
                    <img src="img/jumbotron/turkeymelt.jpg">
                </div>
                <div>
                    <img src="img/jumbotron/pancakes.jpg">
                </div>
                <div>
                    <img src="img/jumbotron/dad.jpg">
                </div>
             </div> -->
        </div>
    {{/each}}
</template>